@font-face {
  font-family: 'OutlineCutoutDetail';
  src:  url('OutlineCutoutDetail-Thin.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'OutlineCutoutDetail';
  src:  url('OutlineCutoutDetail-ExtraLight.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: 'OutlineCutoutDetail';
  src:  url('OutlineCutoutDetail-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'OutlineCutoutDetail';
  src:  url('OutlineCutoutDetail-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'OutlineCutoutDetail';
  src:  url('OutlineCutoutDetail-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'OutlineCutoutDetail';
  src:  url('OutlineCutoutDetail-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'OutlineCutoutDetail';
  src:  url('OutlineCutoutDetail-Bold.woff2') format('woff2');
  font-weight: 700;
}

