@font-face {
  font-family: 'BasicallyAMono';
  src:  url('BasicallyAMono-Thin.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'BasicallyAMono';
  src:  url('BasicallyAMono-ExtraLight.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: 'BasicallyAMono';
  src:  url('BasicallyAMono-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'BasicallyAMono';
  src:  url('BasicallyAMono-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'BasicallyAMono';
  src:  url('BasicallyAMono-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'BasicallyAMono';
  src:  url('BasicallyAMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'BasicallyAMono';
  src:  url('BasicallyAMono-Bold.woff2') format('woff2');
  font-weight: 700;
}

