/* Details */
#details-btn {
  text-align: left;
  color: #1E6FBF !important;
  font-weight: 400;
  font-size: 20px;
}

#details-wrapper {
  margin-top: 12px;
  margin-bottom: 16px;
}

#details {
  border-radius: 12px;
  padding: 16px;
  padding-bottom: 1px;
}