@import '../bam/fonts/basicallyamono.css';
@import '../bass/fonts/basicallyasansserif.css';

/* Globals */
.bam {
  font-family: 'BasicallyAMono' !important;
  font-feature-settings: "ss01" 1;
}
.bass {
  font-family: 'BasicallyASansSerif' !important;
}
.do-it {
  font-family: 'Didot' !important; 
}

a:link {
  text-decoration: none;
}

/* Intro Div */
#intro {
  font-weight: 200;
  font-size: 32pt;

  line-height: 1.3;
}

.mental {
  font-weight: 400;
}

.design {
  font-weight: 200;
}

/* Nav Div */
#nav {
  font-size: 20pt;
  padding: 12px 24px;
}

#title-bar {
  padding-bottom: 8px;
}

#menu {
  font-size: 20pt;
  font-weight: 300;
}

#menu .selected {
  color: #fff;
}

#menu .w3-bar-item {
  line-height: 1.3;
  padding: 0;
}

#menu a {
  color: #5e5e5e;
}

#menu a:hover {
  color: #fff;
}

#menu .w3-bar-item {
  padding-right: 15px;
}

@media (max-width: 768px) {
  #nav {
    background-color: #000;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16), 0 5px 15px 0 rgba(0, 0, 0, 0.12);
  }

  .w3-bar-block {
    width: 100%;
    overflow: hidden
  }

  .w3-bar-block .w3-bar-item {
      padding: 8px 16px;
      float: left;
      width: auto;
      border: none;
      display: block;
      outline: 0
  }
}

@media (max-width: 320px) {
  #nav {
    font-size: 15pt;
  }
  #menu {
    font-size: 15pt;
  }
}

/* Fonts div */
#fonts {
  font-size: 32pt;
  font-weight: 400;
  text-align: left;
}

@media (max-width: 768px) {
  #fonts {
    width: 80%;
  }
}

@media (max-width: 414px) {
  #fonts {
    font-size: 24pt;
  }
}

@media (max-width: 320px) {
  #fonts {
    font-size: 15pt;
  }
}

/* About div */
#about {
  padding-top: 12px;
  
  font-weight: 300;
  font-size: 15pt;
  color: #929292;
  line-height: 1.3;
}

#about h1 {
  font-family: 'BasicallyASansSerif';
  font-weight: 500;
  font-size: 24pt;
  line-height: 1.1;
  color: #fff;
}

#about h2 {
  font-family: 'BasicallyASansSerif';
  font-weight: 300;
  font-size: 15pt;
  line-height: 1.1;
  color: #d5d5d5;
}

@media (max-width: 768px) {
  #about {
    padding-top: 106px;
    width: 90%;
  }
}

/* Contacts div */
#contact {
  font-size: 24pt;
  font-weight: 300;
  text-align: left;
}

#contact .fa {
  vertical-align: -0.1em;
}

@media (max-width: 768px) {
  #contact {
    width: 80%;
  }
}

@media (max-width: 414px) {
  #contact {
    font-size: 15pt;
  }
}

@media (max-width: 320px) {
  #contact {
    font-size: 12pt;
  }
}
