
@import '../fonts/abc.css';

body {
    font-family: "ABCv0.001";
    font-size: 50pt;
    text-align: center;

    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

input {
    width: 425px;
}