.char-dark {
  background: #0c0c0c;
  color: #fff;
}

.char-category {
}

.char-sub-category {
  margin-bottom: 8px;
}

.char-title {
  margin-top: 16px;
  margin-bottom: 2px;
  margin-left: 2px;

  font-size: 16px;
  font-weight: 400;
  color: #5e5e5e;
}

.char-cell {
  display: inline-block;
  margin: 2px;
  background: #fefefe;
  
  text-align: center;
}

.char-div {
  display: inline-block;
}

.char-code {
  font-size: 10px;
  color: #999;
  height: 10px;
}

.char-expand-btn {
  display: inline-block;
  color: #f7f7f7;
  background: #1E6FBF;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  vertical-align: 2px;
  border-radius: 14px;
  padding-left: 3px;
  padding-right: 2px;
  width: 50px;
  height: 18px;
  text-align: center;
  opacity: 0.9;
}